/* ETIQUETA SEMÁNTICA 'header' */
#cabecera{ /* CABECERA DE LA PÁGINA WEB 'header'. */
    background-color: var(--color-header); /* COLOR DEL FONDO DEL PIE DE LA CABECERA. */
    width: 100%;  /* ANCHURA DE LA CABECERA AL 100%. */
    height: 3.5vh; /* ALTURA DE LA CABECERA AL 3.5vh. */

}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* CONTENIDO DEL 'header' INICIO */ /* BREAKPOINT PARA MÓVILES <375px */
/* 
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

#telefonoContacto{ /* TELÉFONO DE CONTACTO DE LA CABECERA */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
    font-weight: 900;
    color: white;
    margin-right: 0.75rem;
}

#contEnlaceCorreo{ /* ESPACIO PARA LA SEPARACIÓN DEL CORREO ELECTRÓNICO QUE ESTA EN LA CABECERA. */
    width: 95%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

#marcoCorreo{ /* MARCO DE LA FOTOGRAFÍA DEL CONTACTO ELECTRÓNICO, ES EL 'contEnlaceCorreo' DE LA IMAGEN QUE ESTA SITUADA EN LA CABECERA. */
    width: 9%;
    height: 78%; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0.25rem;

}

#fotoCorreo{ /* IMAGEN ADAPTADA A SU CONTENEDOR QUE ESTA DENTRO DEL 'figure' DE LA CABECERA. */
    max-height: 95%; 
    /* margin-top: 0.1rem; */
        background-image: url('/img/clientes1.png');

}

/* CONTENIDO DEL 'main' FÍN */ /* BREAKPOINT PARA MÓVILES <374px */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* DISEÑO PARA DISPOSITIVOS >374 */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 374px){
    



}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* DISEÑO PARA DISPOSITIVOS >375px */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 375px) and (max-width: 575px){
    
}

/* DISEÑO PARA DISPOSITIVOS >576px */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 576px) and (max-width: 767px){
    #telefonoContacto{ /* TELÉFONO DE CONTACTO DE LA CABECERA */
        font-size: 1.65rem;
        margin-right: -0.25rem;
    }
    
}

/* DISEÑO PARA DISPOSITIVOS CON PANTALLAS/TABLETS DE MÁS DE >768px  */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 991px){
     #telefonoContacto{ /* TELÉFONO DE CONTACTO DE LA CABECERA */
        font-size: 1.7rem;
        margin-right: -1rem;
    }
}

/* BREAKPPOINT PARA PANTALLAS GRANDES DESDE >992px */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 992px) and (max-width: 1199px){
    #telefonoContacto{ /* TELÉFONO DE CONTACTO DE LA CABECERA */
        font-size: 1.7rem;
        margin-right: -2.15rem;
    }
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* CONTENIDO DEL 'header' FÍN */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */