/* ETIQUETA SEMÁNTICA 'main' */
main{ /* CONTENIDO DE LA PÁGINA WEB 'main'. */
    /* background-color: azure;     */
    width: 100%;  /* ANCHURA DEL CONTENIDO DEL PROYECTO. */
    min-height: fit-content; /* ALTURA DEL CONTENIDO DEL PROYECTO. */
    margin: auto; /* CENTRADO DEL CONTENIDO DEL PROYECTO. */
    font-size: var(--font-grande);
    background-color: var(--color-body);
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* SEPARACIONES INICIO */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.espacio05vh{
    height: 0.5vh;
}

.espacio1vh{
    height: 1vh;
}

.espacio2vh{
    height: 2vh;
}

.espacio3vh{
    height: 3vh;
}

.espacio4vh{
    height: 4vh;
}

.espacio5vh{
    height: 5vh;
}

.espacio6vh{
    height: 6vh;
}

.espacio7vh{
    height: 7vh;
}

.espacio8vh{
    height: 8vh;
}

.espacio9vh{
    height: 9vh;
}

.espacio10vh{
    height: 10vh;
}

.espacio1vw{
    width: 1vw;
}

.espacio2vw{
    width: 2vw;
}

.espacio3vw{
    width: 3vw;
}

.espacio4vw{
    width: 4vw;
}

.espacio5vw{
    width: 5vw;
}

.espacio6vw{
    width: 6vw;
}

.espacio7vw{
    width: 7vw;
}

.espacio8vw{
    width: 8vw;
}

.espacio9vw{
    width: 9vw;
}

.espacio10vw{
    width: 10vw;
}

/* SEPARACIONES FIN */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* SEPARACIONES INICIO */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

h3{
    font-size: 1.75rem;
    width: 85%;
    margin: auto;
    text-align: center;
}

h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: #FF044F;
    width: 85%;
    margin: auto;

}

strong{
    color: #FF044F;
}


/* SEPARACIONES FIN */

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* CONTENIDO DEL 'nav' INICIO */ /* BREAKPOINT PARA MÓVILES <374px */
/* 
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.card {
    position: relative;
    }

.card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text {
    position: relative;
    z-index: 2;
}

@font-face{ /* FUENTE TIPOGRÁFICA PARA LOS TITULARES*/
    font-family: "fontSourGummy";
    src: url(/fonts/PermanentMarker-Regular.ttf);
}

.titular2{ /* ESTILO DEL 'index' PARA TODOS LOS TITULARES DEL PROYECTO WEB. */
    text-transform: uppercase;
    text-align: center;
    font-family: "fontSourGummy", sans-serif;
    font-size: 1.75rem;
    width: 100%;
}

@font-face{ /* FUENTE TIPOGRÁFICA PARA LOS TITULARES*/
    font-family: "fontTitular";
    src: url(/fonts/PermanentMarker-Regular.ttf);
}

.titular{ /* ESTILO DEL 'index' PARA TODOS LOS TITULARES DEL PROYECTO WEB. */
    text-transform: uppercase;
    text-align: center;
    font-family: "fontTitular", sans-serif;
    font-size: 2.75rem;
    width: 100%;
}

.descripcionTitular{ /* DESCRIPCION DE LOS SERVICIOS QUE HACE LA EMPRESA, QUE SE ENCUNTRA DEBAJO DEL TITULAR. */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.7rem;
    text-align: center;
    margin: auto;
    width: 85%;
}

.cuerpoTexto{ /* DESCRIPCION DE LOS SERVICIOS QUE HACE LA EMPRESA, QUE SE ENCUNTRA DEBAJO DEL TITULAR. */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.75rem;
    text-align: center;
    margin: auto;
    width: 90%;
    max-height: fit-content;
}

.enlaceDescripcion{ /* VÍNCULOS DE LOS ENLACES QUE SE ENCUENTRA EN LA DESCRIPCION DEL TITULAR. */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FF044F;
    font-weight: 900;
    text-decoration: none;
    width: 0%;
}

.enlaceDescripcion2{ /* VÍNCULOS DE LOS ENLACES QUE SE ENCUENTRA EN LA DESCRIPCION DEL TITULAR. */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FF044F;
    font-weight: 900;
    text-decoration: none;
    float: left;
}

#contGridServicios{ /* CONTENEDOR GRID PARA PODER REALIZAR EÑ RESPONSIVO A LAS IMAGENES QUE SE VISUALIZE EN FILAS. */
    display: grid;
    grid-template: repeat(4, 1fr); 
}

.marcoContImages{ /* CONTENEDOR HIJO DEL GRID PARA ACOMPLAR LAS IMAGENES EN FORMA HORIZONTAL Y VERTICAL. */
    width: 95%;
    margin: auto;
    text-align: center;
}

.fotoContImages{ /* IMAGEN AJUSTABLE A SU CONTENIDO. */
    max-width: 90%;
}

.seccionServicios{ /* PADRE FLEX DE LOS TITULOS DE LOS SERVICIOS QUE REALIZA LA EMPRESA . */
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

@font-face{ /* FUENTE TIPOGRÁFICA PARA LOS TÍTULO DE LOS SERVICIOS */
    font-family: "fontServicios";
    src: url(/fonts/ShantellSans-Italic-VariableFont_BNCE\,INFM\,SPAC\,wght.ttf);
}

.tamanoTextoServicios{ /* DIMENSIONES Y ESTILOS DE LA FUENTE TIPOGRÁFICA DE LOS SERVICIOS. */
    width: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: "fontServicios", sans-serif;
    font-size: 2rem;
    color: black;
    text-decoration: none;
}

.enlaceServicios{
    text-decoration: none;
    color: #000;

}

.descripcionServicios{ /* CENTRADO EL ANCHO DE LA CELDA DE LA DESCRIPCIÓN. */
    width: 75%;
    font-size: 1.85rem;
    font-family: "fontServicios", sans-serif;
    text-align: center;
    margin: auto;
}

.apartado2{ /* DIMENSIONES DEL FONDO DE LA IMAGEN ESTÁTICA 'fixed'. */
    width: 100vw;
	min-height:30vh;
}

#aptdo2{ /* FONDO ULR CON ANIMACIÓN FIXED. */
	background: url('/img/cover6.png') ;
	background-attachment: fixed;
	background-size: cover;
    /* filter: grayscale(100%); */
}

#titularFondo1{ /* TITULAR DE LA IMAGEN DEL FONDO ESTÁTICA 'fixed'. */
    color: white;
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    font-family: "fontTitular";
    color: rgb(182, 176, 176);
    text-shadow: 2px 2px rgb(0, 0, 0)!important; /* SOMBRA CON UN BORDE NEGRO DE 2PX. */
    padding-bottom: 0.5rem;
    width: 97.5%;
    margin: auto;
    
}

#titularFondo2{ /* TITULAR DE LA IMAGEN DEL FONDO ESTÁTICA 'fixed'. */
    color: white;
    font-weight: 900;
    font-size: 1rem;
    text-align: center;
    font-family: "fontTitular";
    color: rgb(117, 117, 117);
    text-shadow: 2px 2px rgb(0, 0, 0)!important; /* SOMBRA CON UN BORDE NEGRO DE 2PX. */
    padding-bottom: 0.5rem;
    
}

.descripcionSubtitular{ /* SUBTITULAR DE LA IMAGEN DEL FONDO 'fixed'. */
    color: white;
    font-weight: 900;
    font-size: 1.25rem;
    text-align: center;
    font-family: "fontServicios";
    color: rgb(250, 250, 250)!important;
    text-shadow: 2px 2px rgb(0, 0, 0)!important; /* SOMBRA CON UN BORDE NEGRO DE 2PX. */
    padding-bottom: 0.5rem;
    width: 90%;
    margin: auto;
}

#marcoClientes{
    width: 100vw;
    text-align: center;    
}

#fotoClientes{
    max-width: 90%;
}

.alturaBotones {
    height: 8.5vh;
    
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* CONTENIDO DEL 'main' FÍN */ /* BREAKPOINT PARA MÓVILES <374px */

/* 
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* DISEÑO PARA DISPOSITIVOS >375px */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 375px) and (max-width: 575px){
    .card {
        position: relative;
    }

    .card-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-text {
        position: relative;
        z-index: 2;
    }

    #titularFondo1{ /* TITULAR DE LA IMAGEN DEL FONDO ESTÁTICA 'fixed'. */
        font-size: 2rem;
        padding-bottom: 0.5rem;
    }

    #titularFondo2{ /* TITULAR DE LA IMAGEN DEL FONDO ESTÁTICA 'fixed'. */
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
    
}
    
    .titular{ /* CONTROL DEL TAMAÑO DEL LOS TITULARES ADAPTADA A TODOS LOS DISPOSITIVOS. */
        font-size: 2.75rem;
    }

    .descripcionTitular{ /* CONTROL DEL TAMAÑO DE LA DESCRIPCION DEL TITULAR ADAPTADA A TODOS LOS DISPOSITIVOS. */
        width: 80%;
        font-size: 1.7rem;
    }

    .tamanoTextoServicios{ /* CONTROL DEL TAMAÑO DE LETRA DE LAS SECCIONES DE LOS SERVICIOS. */
        width: 100%;
        font-size: 1.8rem;
    }

    .descripcionServicios{ /* DESCRIPCIÓN DEL TITULAR CONTROL DEL TAMAÑO. */
        width: 75%;
        font-size: 1.3rem;
        /* padding-bottom: 2.5rem; */

    }

    #titularFondo{ /* TAMAÑO Y TITULAR PARA LA FUENTE TIPOGRÁFICA, DONDE SE ENCUENTRA LA IMAGEN ESTÁCTICA 'fixed'.  */
        font-size: 2rem;
    }

    #descripcionSubtitular{ /* DESCRIPCION DEL TITULAR DE LA LA FUENTE TIPOGRÁFICA, DONDE SE ENCUENTRA LA IMAGEN ESTÁCTICA 'fixed'. */
        font-size: 1.5rem;
    }

    #aptdo1{ /* TAMAÑO DE LA FONDO ESTÁTICA CON EL TITULAR Y DESCRIPCIÓN */
        min-height: 5vh;
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* CONTENIDO DEL 'main' FÍN */ /* BREAKPOINT PARA MÓVILES >375px */

/* 
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* DISEÑO PARA DISPOSITIVOS >576px */

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 576px) and (max-width: 767px){
    .card {
        position: relative;
    }

    .card-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-text {
        position: relative;
        z-index: 2;
    }

    #titularFondo1{ /* TITULAR DE LA IMAGEN DEL FONDO ESTÁTICA 'fixed'. */
        font-size: 2.5rem;
        padding-bottom: 0.5rem;
    
    }

    #titularFondo2{ /* TITULAR DE LA IMAGEN DEL FONDO ESTÁTICA 'fixed'. */
        color: white;
        font-weight: 900;
        font-size: 2rem;
        text-align: center;
        font-family: "fontTitular";
        color: rgb(117, 117, 117);
        text-shadow: 2px 2px rgb(0, 0, 0)!important; /* SOMBRA CON UN BORDE NEGRO DE 2PX. */
        padding-bottom: 0.5rem;
    
    }   

    .titular{ /* CONTROL DEL TAMAÑO DEL LOS TITULARES ADAPTADA A TODOS LOS DISPOSITIVOS. */
        font-size: 2.80rem;
    }

    .descripcionTitular{ /* CONTROL DEL TAMAÑO DE LA DESCRIPCION DEL TITULAR ADAPTADA A TODOS LOS DISPOSITIVOS. */
        width: 80%;
        font-size: 1.3rem;
    }

    .tamanoTextoServicios{ /* CONTROL DEL TAMAÑO DE LETRA DE LAS SECCIONES DE LOS SERVICIOS. */
        width: 100%;
        font-size: 2.5rem;
    }

    .descripcionServicios{ /* DESCRIPCIÓN DEL TITULAR CONTROL DEL TAMAÑO. */
        width: 75%;
        font-size: 1.5rem;
    }

    #titularFondo{ /* TAMAÑO Y TITULAR PARA LA FUENTE TIPOGRÁFICA, DONDE SE ENCUENTRA LA IMAGEN ESTÁCTICA 'fixed'.  */
        font-size: 2.25rem;
    }

    #descripcionSubtitular{ /* DESCRIPCION DEL TITULAR DE LA LA FUENTE TIPOGRÁFICA, DONDE SE ENCUENTRA LA IMAGEN ESTÁCTICA 'fixed'. */
        font-size: 1.75rem;
    }

    #aptdo1{ /* TAMAÑO DE LA FONDO ESTÁTICA CON EL TITULAR Y DESCRIPCIÓN */
        min-height: 5vh;
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* CONTENIDO DEL 'main' FÍN */ /* BREAKPOINT PARA MÓVILES >576px */

/* 
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* DISEÑO PARA DISPOSITIVOS CON PANTALLAS/TABLETS DE MÁS DE >768px  */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1199px){
    .card {
        position: relative;
    }

    .card-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-text {
        position: relative;
        z-index: 2;
    }

    #titularFondo1{ /* TITULAR DE LA IMAGEN DEL FONDO ESTÁTICA 'fixed'. */
        font-size: 3rem;
        padding-bottom: 0.5rem;
    }
    
    .titular{ /* CONTROL DEL TAMAÑO DEL LOS TITULARES ADAPTADA A TODOS LOS DISPOSITIVOS. */
        font-size: 3.75rem;
    }

    .descripcionTitular{ /* CONTROL DEL TAMAÑO DE LA DESCRIPCION DEL TITULAR ADAPTADA A TODOS LOS DISPOSITIVOS. */
        width: 78%;
        font-size: 1.4rem;
    }

    .tamanoTextoServicios{ /* CONTROL DEL TAMAÑO DE LETRA DE LAS SECCIONES DE LOS SERVICIOS. */
        width: 100%;
        font-size: 2rem;
    }

    .descripcionServicios{ /* DESCRIPCIÓN DEL TITULAR CONTROL DEL TAMAÑO. */
        width: 82.5%;
        font-size: 1.5rem;
    }

    #contGridServicios{ /* CONTENEDOR GRID PARA PODER REALIZAR EÑ RESPONSIVO A LAS IMAGENES QUE SE VISUALIZE EN 2 COLUMNAS. */
        display: grid;
        grid-template-columns: repeat(2, 50%); 
    }

    #titularFondo{ /* TAMAÑO Y TITULAR PARA LA FUENTE TIPOGRÁFICA, DONDE SE ENCUENTRA LA IMAGEN ESTÁCTICA 'fixed'.  */
        font-size: 2.8rem;
    }

    #descripcionSubtitular{ /* DESCRIPCION DEL TITULAR DE LA LA FUENTE TIPOGRÁFICA, DONDE SE ENCUENTRA LA IMAGEN ESTÁCTICA 'fixed'. */
        font-size: 2rem;
    }

    #aptdo1{ /* TAMAÑO DE LA FONDO ESTÁTICA CON EL TITULAR Y DESCRIPCIÓN */
        min-height: 5vh;
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* CONTENIDO DEL 'main' FÍN */ /* BREAKPOINT PANTALLAS/TABLETS DE >768px */

/* 
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* BREAKPPOINT PARA PANTALLAS GRANDES DESDE >1200px */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 1200px) and (max-width: 1439px){
    .card {
        position: relative;
    }

    .card-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-text {
        position: relative;
        z-index: 2;
    }

    #titularFondo1{ /* TITULAR DE LA IMAGEN DEL FONDO ESTÁTICA 'fixed'. */
        font-size: 3.75rem;
        padding-bottom: 0.5rem;
    }

    #titularFondo2{ /* TITULAR DE LA IMAGEN DEL FONDO ESTÁTICA 'fixed'. */
        font-size: 4rem;
        padding-bottom: 0.5rem;
    }
    
    .titular{ /* CONTROL DEL TAMAÑO DEL LOS TITULARES ADAPTADA A TODOS LOS DISPOSITIVOS. */
        font-size: 4.25rem;
    }

    .descripcionTitular{ /* CONTROL DEL TAMAÑO DE LA DESCRIPCION DEL TITULAR ADAPTADA A TODOS LOS DISPOSITIVOS. */
        width: 87%;
        font-size: 1.75rem;
    }

    .tamanoTextoServicios{ /* CONTROL DEL TAMAÑO DE LETRA DE LAS SECCIONES DE LOS SERVICIOS. */
        width: 100%;
        font-size: 2.3rem;
    }

    .descripcionServicios{ /* DESCRIPCIÓN DEL TITULAR CONTROL DEL TAMAÑO. */
        width: 80%;
        font-size: 1.5rem;
    }

    #contGridServicios{ /* CONTENEDOR GRID PARA PODER REALIZAR EÑ RESPONSIVO A LAS IMAGENES QUE SE VISUALIZE EN 2 COLUMNAS. */
        display: grid;
        grid-template-columns: repeat(2, 50%); 
    }

    #titularFondo{ /* TAMAÑO Y TITULAR PARA LA FUENTE TIPOGRÁFICA, DONDE SE ENCUENTRA LA IMAGEN ESTÁCTICA 'fixed'.  */
        font-size: 4rem;
    }

    #descripcionSubtitular{ /* DESCRIPCION DEL TITULAR DE LA LA FUENTE TIPOGRÁFICA, DONDE SE ENCUENTRA LA IMAGEN ESTÁCTICA 'fixed'. */
        font-size: 3.75rem;
        margin: auto;
        width: 87%;
        /* padding-bottom: 2.5rem; */
    }

    #aptdo1{ /* TAMAÑO DE LA FONDO ESTÁTICA CON EL TITULAR Y DESCRIPCIÓN */
        min-height: 5vh;
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* CONTENIDO DEL 'main' FÍN */ /* BREAKPOINT PANTALLAS GRANDES >1200px */

/* 
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* BREAKPPOINT PARA PANTALLAS EXTRA GRANDES DESDE >1440 */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 1440px) and (max-width: 1920px){
    .card {
        position: relative;
    }

    .card-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-text {
        position: relative;
        z-index: 2;
    }

    #titularFondo1{ /* TITULAR DE LA IMAGEN DEL FONDO ESTÁTICA 'fixed'. */
        font-size: 3.75rem;
        padding-bottom: 0.5rem;
        width: 95%;
    }

    #titularFondo2{ /* TITULAR DE LA IMAGEN DEL FONDO ESTÁTICA 'fixed'. */
        font-size: 4rem;
        padding-bottom: 0.5rem;
    }
    
    .titular{ /* CONTROL DEL TAMAÑO DEL LOS TITULARES ADAPTADA A TODOS LOS DISPOSITIVOS. */
        font-size: 4.25rem;
    }

    .descripcionTitular{ /* CONTROL DEL TAMAÑO DE LA DESCRIPCION DEL TITULAR ADAPTADA A TODOS LOS DISPOSITIVOS. */
        width: 90%;
        font-size: 1.5rem;

    }

    .tamanoTextoServicios{ /* CONTROL DEL TAMAÑO DE LETRA DE LAS SECCIONES DE LOS SERVICIOS. */
        width: 100%;
        font-size: 1.8rem;
    }

    .descripcionServicios{ /* DESCRIPCIÓN DEL TITULAR CONTROL DEL TAMAÑO. */
        width: 80%;
        font-size: 1.4rem;
    }

    #contGridServicios{ /* CONTENEDOR GRID PARA PODER REALIZAR EÑ RESPONSIVO A LAS IMAGENES QUE SE VISUALIZE EN 2 COLUMNAS. */
        display: grid;
        grid-template-columns: repeat(4, 25%); 
    }

    #titularFondo{ /* TAMAÑO Y TITULAR PARA LA FUENTE TIPOGRÁFICA, DONDE SE ENCUENTRA LA IMAGEN ESTÁCTICA 'fixed'.  */
        font-size: 3.5rem;
    }

    #descripcionSubtitular{ /* DESCRIPCION DEL TITULAR DE LA LA FUENTE TIPOGRÁFICA, DONDE SE ENCUENTRA LA IMAGEN ESTÁCTICA 'fixed'. */
        font-size: 2.75rem;
        width: 90%;
        margin: auto;
    }

    #aptdo1{ /* TAMAÑO DE LA FONDO ESTÁTICA CON EL TITULAR Y DESCRIPCIÓN */
        min-height: 5vh;
    }

    h3{
    font-size: 1.75rem;
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* CONTENIDO DEL 'main' FÍN */ /* BREAKPOINT PARA PANTALLAS EXTRA GRANDES >1440px */

/* 

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* MENU DESPLEGABLE INICIO */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */